.myHeader{
    text-align:center;

}

.myNumber{
    text-align:center;
    font-size:larger;
}

.myButton{
    color:white;
    background-color:black;
    padding:5px;
    font-size:larger;
}

.inputArea {
    /* display: flex; */
    /* Center horizontally */
    /* justify-content: center; */
    /* Center vertically */
    /* align-items: center; */
    width: fit-content;
    margin:auto;

}

.myform {
    width: auto; 
    max-width: 90%; 
}

.myFieldset {
    border: 1px solid black;
    border-radius: 5px;
    background-image: linear-gradient( white, lightgray );
}
.mylegend {
    background-color: white;
    /* padding:5px; */
    /* border: 1px solid black; */
    border-radius: 15px;
}
.viewDetailsButton{
    display: flex;
    justify-content: space-between;
}
.displayinformation{
    display:flex;
    justify-content: center;
}
.calculator{
    border: 2px solid black;
    margin: 20px auto;
    width: 300px;
    border-collapse: collapse;    
}
.screen{
    background-color: darkgray;
}
.calculator th, .calculator td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    height: 60px; 
    width: 25%; 
    cursor: pointer;
}

.calculator td:hover{
    background-image: linear-gradient(lightgray, gray);
}
.calculator th{
    background-image: linear-gradient(lightgray, gray);
}
.del{
    background-image: linear-gradient(rgb(247, 131, 131), red);
}
.adders{
    background-image: linear-gradient(rgb(252, 205, 120), orange);
    
}
.equals{
    background-image: linear-gradient(lightgreen, green);
}
.myCal{

   text-align: center;
}
.CC{
    background-image:linear-gradient(lightblue,blue)
}
.myDiceGame{
    /* display:flex;
    flex-direction: column;
    align-items: center;
    margin:20px auto;
    padding-bottom:40px ; */
    border: 2px solid black;
    margin: 60px auto;
    height:200px;
    width: 300px;
    /* border-collapse: collapse;  */
    padding:30px;
    border-radius:15px;
    background-image: linear-gradient(lightgray, white, lightgray) ;
}
.myDiceGame th, .myDiceGame td{
    /* border: 1px solid black; */
    text-align: center;
    justify-content: center;
    padding:5px ;
}
.diceButton{
    border-radius: 15px;
    background-image: linear-gradient(blue, rgb(89, 138, 230), lightblue);
}
.diceButton:hover{
    background-image: linear-gradient(rgb(0, 0, 212), rgb(114, 143, 153));
    color:white;
}
.diceDisplay{
    display:flex;
    flex-direction: row;
    gap:20px;
}
